---
import { TheHeader, TheFooter } from "@components";
import "../../public/assets/scss/app.scss";
import type { PageSEO } from "@types";

const _meta = {
  lang: "ru",
  title: "Starter Kit",
  description: "The Site uses Aziz Sobirov's Starter Kit",
  author: "Aziz Sobirov",
  color: "#100C09",
};

const { title = _meta.title, meta = _meta } = Astro.props as PageSEO;
---

<!doctype html>
<html lang={meta.lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={meta.description} />
    <meta name="author" content={meta.author} />
    <meta name="theme-color" content={meta.color} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body>
    <slot name="header" />
    <!-- Header -->
    <TheHeader />
    <!-- Main -->
    <slot />
    <!-- TheFooter -->
    <TheFooter />
    <slot name="footer" />
  </body>
</html>
